


footer{
    background-color: #202020;
    color: white;    
    width: 100%;
    .contenedor_todo_footer{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 10px;
        .contenedor{
            display: flex;
            justify-content:space-between;
            .columna_1{
                max-width: 400px;
                h3{
                    font-size: 18px;
                    color: #fff;
                    text-align: left;
                    margin-top: 40px;
                    margin-left: 10px;
                }
                p{
                    font-size: 14px;
                    color: #C7C7C7;
                    margin-top: 20px;
                }
            }
            .columna_2{
                max-width: 400px;
                
                h3{
                    font-size: 18px;
                    color: white;
                    margin-top: 40px;
                }
                .filas{
                    margin-top: 20px;
                    display: flex;
                    img{
                        width: 20%;
                        height: 35px;
                    }
                    .nombreRed{                        
                        color: #C7C7C7;
                        text-decoration: none;
                        text-align: center;
                        margin-top: 2%;
                        margin-left: 7%;
                    }
                }
            }
            .columna_3{
                max-width: 400px;
                
                h3{
                    font-size: 18px;
                    color: white;
                    margin-top: 40px;
                }
                .row1{
                    margin-top: 20px;
                    display: flex;
                    img{
                        width: 15%;
                        height: 35px;
                    }
                    .nombreRed{
                        text-align: center;
                        text-decoration: none;                        
                        color: #C7C7C7;
                        margin-top: 2%;
                        margin-left: 7%;
                    }
                    .nombreRed1{
                        text-decoration: none;                        
                        color: #C7C7C7;
                        text-align: center;
                        margin-top: 2%;
                        margin-left: 4%;
                    }
                    .float{
                        position:fixed;
                        width:60px;
                        height:60px;
                        bottom:40px;
                        right:40px;
                        background-color:#25d366;
                        color:#FFF;
                        border-radius:50px;
                        text-align:center;
                        font-size:30px;
                        box-shadow: 2px 2px 3px #999;
                        z-index:100;
                    }
                    .float:hover{
                        text-decoration: none;
                        color: #25d366;
                        background-color:#fff;
                    }                    
                    .my-float{
                        margin-top:16px;
                    }
                }
            }
        }
        .contenedor_footer{
            color: white;
            display: flex;
            justify-content:space-between;
            .copyright{
                color: #C7C7C7;
            }
            .informacion{
                a{
                    text-decoration: none;
                    color: white;
                }
                
            }
        }
    }

}

/*

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
*/












